currency-cloud-config-service/target/
currency-cloud-config-service-repo/target/
currency-conversion-service/target/
currency-eureka-naming-netflix-server/target/
currency-exchange-service/target/
limits-service/target/

currency-cloud-config-service/.idea
currency-cloud-config-service-repo/.idea
currency-conversion-service/.idea
currency-eureka-naming-netflix-server/.idea
currency-exchange-service/.idea
limits-service/.idea

currency-cloud-config-service/*.iws
currency-cloud-config-service-repo/*.iws
currency-conversion-service/*.iws
currency-eureka-naming-netflix-server/*.iws
currency-exchange-service/*.iws
limits-service/*.iws


currency-cloud-config-service/*.iml
currency-cloud-config-service-repo/*.iml
currency-conversion-service/*.iml
currency-eureka-naming-netflix-server/*.iml
currency-exchange-service/*.iml
limits-service/*.iml

currency-cloud-config-service/*.ipr
currency-cloud-config-service-repo/*.ipr
currency-conversion-service/*.ipr
currency-eureka-naming-netflix-server/*.ipr
currency-exchange-service/*.ipr
limits-service/*.ipr

currency-cloud-config-service/!.mvn/wrapper/maven-wrapper.jar
currency-cloud-config-service-repo/!.mvn/wrapper/maven-wrapper.jar
currency-conversion-service/!.mvn/wrapper/maven-wrapper.jar
currency-eureka-naming-netflix-server/!.mvn/wrapper/maven-wrapper.jar
currency-exchange-service/!.mvn/wrapper/maven-wrapper.jar
limits-service/!.mvn/wrapper/maven-wrapper.jar

